_ide_helper_models.php
_ide_helper.php
.DS_Store
.env
.env.backup
.phpstorm.meta.php
.phpunit.result.cache
*.cache
*.log
/.idea
/.vscode
/node_modules
/public/build
/public/hot
/public/sitemap.xml
/public/storage
/storage/*.key
/vendor
auth.json
Homestead.json
Homestead.yaml
phpunit.xml
Thumbs.db
