.DS_Store
.env
.env.backup
.phpunit.result.cache
*.cache
*.log
/.idea
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
phpunit.xml
Thumbs.db
